<div style="font-family: sans-serif;">
  <p>Lorem ipsum dolor amet irony chia next level adaptogen banjo everyday carry marfa. Plaid dreamcatcher butcher, roof party four loko wayfarers tote bag occupy master cleanse fanny pack vice. Kitsch distillery plaid thundercats yr echo park put a bird on it church-key chicharrones venmo humblebrag swag etsy. Semiotics put a bird on it post-ironic, pour-over leggings artisan 90's pok pok chambray. Squid sustainable franzen kinfolk. Listicle blog flannel, +1 you probably haven't heard of them literally microdosing readymade man braid master cleanse shaman. Vinyl blog glossier activated charcoal, readymade franzen direct trade tbh master cleanse hella cronut succulents plaid distillery.</p>

  <p>Cliche tumeric mustache, YOLO man bun gentrify iceland actually street art jean shorts umami dreamcatcher pabst PBR&B. Man bun quinoa disrupt kogi sartorial unicorn chia aesthetic deep v. Banh mi tofu seitan vexillologist live-edge, drinking vinegar hell of iceland put a bird on it hashtag glossier forage. Iceland viral church-key tacos gastropub slow-carb, biodiesel typewriter coloring book freegan fam. 3 wolf moon ethical poutine photo booth kickstarter green juice cold-pressed man braid forage coloring book.</p>
</div>

<script type="text/javascript">
  RetentionRocket.WebPush.initialize(
    {
      title: "Never miss a deal!",
      body: "Enable notifications to hear about exclusive offers before anyone else!",
      cancelLabel: "Not Now",
      enableLabel: "Allow",
      style: {
        container: {
          'border-width': '2px',
          'border-style': 'dashed',
          'border-radius': '10px'
        },
        enableButton: {
          'font-weight': 'bold'
        }
      }
    },
    function() { console.log('Allowed!') },
    function() { console.log('Now now!') }
  )

</script>
